params {
	
	vep_threads = 8

}



docker.enabled         = true
docker.runOptions      = '-u $(id -u):$(id -g)'

params {

	vep_threads = 8


	//sample = "/mnt/tblab/alicia/folder/sample.txt"


	bam 	= "/mnt/tblab/alicia/folder/bam/"
	// bai		= "/mnt/tblab/alicia/folder/bam/"

	ref2 = "/mnt/genetica7/references/hg38.fa.gz"
	ref_fai2 = "//mnt/genetica7/references/hg38.fa.gz.fai"

	ref_dict  = "/mnt/genetica7/references/hg38.dict"
	ref_gzi   = "/mnt/genetica7/references/hg38.fa.gz.gzi"


	output		= "/mnt/tblab/alicia/folder/"

	vcf_path = "/mnt/tblab/alicia/folder/vcf/"

	vcf_tbi = "/mnt/tblab/alicia/folder/vcf/"

	vcf_filter_path = "/mnt/tblab/alicia/folder/vcf_filter/"
	vcf_filter_gz = "/mnt/tblab/alicia/folder/vcf_filter/*.final.vcf.gz"


	vep_cache    = "/home/gonzalo/.vep/"
	vep_plugins  = "/home/gonzalo/.vep/Plugins"
	vep_fasta    = "${vep_cache}/homo_sapiens_refseq/105_GRCh38/Homo_sapiens.GRCh38.dna.toplevel.fa.gz"
	vep_fai      = "${vep_cache}/homo_sapiens_refseq/105_GRCh38/Homo_sapiens.GRCh38.dna.toplevel.fa.gz.fai"
	vep_gzi      = "${vep_cache}/homo_sapiens_refseq/105_GRCh38/Homo_sapiens.GRCh38.dna.toplevel.fa.gz.gzi"
	vep_assembly = "GRCh38"

	gNOMADg			= "/mnt/genetica7/vep_plugins_hg38/gnomad.genomes.v3.1.2.hg38.vcf.bgz"
	gNOMADg_tbi		= "/mnt/genetica7/vep_plugins_hg38/gnomad.genomes.v3.1.2.hg38.vcf.bgz.tbi"


	clinvar_old		= "/mnt/tblab/alicia/prueba/clinvar38/clinvar_20220403.vcf.gz"
	clinvar_old_i	= "/mnt/tblab/alicia/prueba/clinvar38/clinvar_20220403.vcf.gz.tbi"
	clinvar_new		= "/mnt/tblab/alicia/prueba/clinvar38/clinvar_20221203.vcf.gz"
	clinvar_new_i	= "/mnt/tblab/alicia/prueba/clinvar38/clinvar_20221203.vcf.gz.tbi"



}

